@import "../../variables.scss";

.card {
    .tag {
        background-color: #E5E5E5;
        color: #375CB8;
        text-align: center;
        border-radius: 10px;
        font-size: 0.7rem;
        padding: 0 10px;
    }

    p {
        font-size: 0.7rem;
    }
}
