@model LoginViewModel

<section class="container mt-3">
    <form asp-controller=Account asp-action=Login asp-antiforgery=true>
        <div asp-validation-summary=ModelOnly></div>
        <div class="mb-3">
            <label class="form-label ex-label" asp-for=Login></label>
            <input class="form-control ex-input" asp-for=Login>
            <span class="error" asp-validation-for=Login></span>
        </div>
        <div class="mb-3">
            <label class="form-label ex-label" asp-for=Password></label>
            <input class="form-control ex-input" asp-for=Password>
            <span class="error" asp-validation-for=Password></span>
        </div>
        <div class="mb-3">
            <label class="form-check-label ex-label" asp-for=IsRemember></label>
            <input class="form-check-input" asp-for=IsRemember>
        </div>
        <button type="submit" class="btn btn-outline-light w-100">Войти</button>
    </form>
</section>