@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@section script{
    <script src="~/bundles/editor.bundle.js"></script>
}

<section class="container">
    <div class="">
        <textarea id="mytextarea" class=""></textarea>
    </div>
</section>
