@section head{
<script src="~/bundles/editor.bundle.js"></script>
}
<section class="container h-100">
    <div class="mt-auto">
        <h3>Администратор проверит публикацию</h3>
    </div>
</section>