@section head{
<script src="~/bundles/home.bundle.js"></script>
}
<section class="container">
    @await Html.PartialAsync("_IdeaCard")
    @await Html.PartialAsync("_IdeaCard")
    @await Html.PartialAsync("_IdeaCard")
    @await Html.PartialAsync("_IdeaCard")
</section>