@section head{
<script src="~/bundles/home.bundle.js"></script>
}
<section class="container">
    <article class="card mt-5">
        <div class="py-4 px-3">
            <div class="row gx-3">
                <div class="col-auto">
                    <img class="avatar" src="~/images/test.jpg"/>
                </div>
                <div class="col-10 title">
                    <h5 class="cut-text">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    </h5>
                    <p>
                        <i>by <b>Lorem</b>, 20.20.2022</i> 
                    </p>
                </div>
            </div>
            <div class="row mt-2 gx-3">
                <div class="col-auto">
                    <div class="tag">
                        #dev
                    </div>
                </div>
                <div class="col-auto">
                    <div class="tag">
                        #dev
                    </div>
                </div>
                <div class="col-auto">
                    <div class="tag">
                        #dev
                    </div>
                </div>
                <div class="col-auto">
                    <div class="tag">
                        #dev
                    </div>
                </div>
                <div class="col-auto">
                    <div class="tag">
                        #dev
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>