@using WhatsYourIdea.Applications.DTO
@model IEnumerable<IdeaDto>
@section head{
<script src="~/bundles/home.bundle.js"></script>
}
<section class="container">
    @foreach (var idea in Model)
    {
        @await Html.PartialAsync("_IdeaCard", idea, ViewData)
    }
</section>