@model CommentDto
<div class="col-12">
    <div class="comment">
        <div class="row">
            <div class="col-auto">
                <div class="avatar" style="background-image: url('/images/test.jpg')">
                </div>
            </div>
            <div class="col-10">
                <div class="row">
                    <div class="col-12">
                        <span class="fs-7"><i>@Model.User.UserName</i>, @Model.Created.ToString("dd/MM/yyyy hh:mm")</span>
                    </div>
                    <div class="col-12">
                        <p>
                            @Model.Text
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>