<section class="navbar-color">
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
            <ul class="navbar-nav me-auto mb-lg-0 align-items-center">
                <li class="nav-item">
                    <a class="nav-link" asp-controller=Home asp-action=Index><i class="fs-5 bi bi-house-door"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller=Home asp-action=Index asp-route-option=new>Новые</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller=Home asp-action=Index asp-route-option=popular>Популярные</a>
                </li>
            </ul>
            <form class="d-flex" method="post" action="/search">
                <input class="form-control me-2" type="text" placeholder="Поисковая фраза" aria-label="Search" name="search">
                <button class="btn btn-outline-light" type="submit">Поиск</button>
            </form>
            <ul class="navbar-nav ms-auto mb-lg-0">
                @if(!User.Identity.IsAuthenticated)
                {
                    <li class="nav-item align-self-center">
                        <a class="nav-link" asp-controller=Account asp-action=Register>Создать аккаунт</a>
                    </li>
                    <li class="nav-item align-self-center">
                        <a class="nav-link" asp-controller=Account asp-action=Login>Войти</a>
                    </li>
                }
                else
                {
                    <li class="nav-item fs-2 my-auto">
                        <a class="nav-link px-0" asp-controller=IdeaEditor asp-action=Index><i class="bi bi-plus-square"></i></a>
                    </li>
                    <li class="nav-item fs-2 my-auto ms-5 me-3">
                        <a class="nav-link px-0" asp-controller=Profile asp-action=Index><i class="bi bi-person-circle"></i></a>
                    </li>
                    <li class="nav-item fs-1 my-auto">
                        <a class="nav-link px-0" asp-controller=Account asp-action=Logout><i class="bi bi-box-arrow-in-right"></i></a>
                    </li>
                }
            </ul>
        </div>
    </nav>
</section>