@model ProfileModel
<section class="container mt-3">
    <div class="row">
        <div class="col">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="col nav-link active text-light bg-transparent"
                            id="nav-private-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-private"
                            type="button" role="tab" aria-controls="nav-private" aria-selected="true">
                        Приватные
                    </button>
                    <button class="col nav-link text-light bg-transparent"
                            id="nav-tracked-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-tracked"
                            type="button" role="tab" aria-controls="nav-tracked" aria-selected="false">
                        Отслеживаемые
                    </button>
                    <button class="col nav-link text-light bg-transparent"
                            id="nav-published-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-published"
                            type="button" role="tab" aria-controls="nav-published" aria-selected="false">
                        Опубликованные
                    </button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-private" role="tabpanel" aria-labelledby="nav-private-tab">
                    @foreach(var idea in Model.PrivateIdeas)
                    {
                        @await Html.PartialAsync("_IdeaCard", idea)
                        <div class="btn-group w-100" role="group" aria-label="Basic outlined example">
                            <a class="btn btn-outline-light" asp-controller=Profile asp-action=Delete asp-route-id=@idea.Hash>Удалить</a>
                            <a class="btn btn-outline-light" asp-controller=Profile asp-action=Edit asp-route-id=@idea.Hash>Изменить</a>
                        </div>
                    }
                </div>
                <div class="tab-pane fade" id="nav-tracked" role="tabpanel" aria-labelledby="nav-tracked-tab">
                    @foreach(var idea in Model.TrackedIdeas)
                    {
                        @await Html.PartialAsync("_IdeaCard", idea)
                    }
                </div>
                <div class="tab-pane fade" id="nav-published" role="tabpanel" aria-labelledby="nav-published-tab">
                    @foreach(var idea in Model.PublishedIdeas)
                    {
                        @await Html.PartialAsync("_IdeaCard", idea)
                        <div class="btn-group w-100" role="group" aria-label="Basic outlined example">
                            <a class="btn btn-outline-light" asp-controller=Profile asp-action=Delete asp-route-id=@idea.Hash>Удалить</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>