@import "variables.scss";

.nav-link {
    font-weight: bold;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.2rem;
}

.card {
    border-radius: 0.7rem;
    max-height: 260px;
    height: 100%;
}

.fs {
    &-6 {
        font-size: 0.9rem
    }

    &-7 {
        font-size: 0.8rem
    }

    &-8 {
        font-size: 0.7rem
    }

    &-9 {
        font-size: 0.6rem
    }

    &-10 {
        font-size: 0.5rem
    }
}