$blue: #A0BBFF;
$light-blue: #BCCFFF;
$gray: #E5E5E5;
$red: #f72525e3;

$nav-color: $blue;
$bg-color: $light-blue;
$bg-tag: $gray;
$tag-color: #375CB8;
$icon-color: #375CB8;
$error-color: $red;

$nav-height: 90px;