@import "../../variables.scss";

.main-img {
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    img {
        width: 100%;
        height: 100%;
    }
}

.detail-card {
    max-height: unset;
}

